h4 {
  color: #007fa4;
  margin-bottom: 0px;
  font-weight: 300;
}

.broder-but {
  border-bottom: 1px solid #007fa4;
  padding-top: 10px;
}

.input-details {
  border: 0px;
  outline: none;
}

span {
  font-size: 16px;
  color: #ff932f;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 200;

}

h6 {
  color: #007fa4;
  font-weight: 300;
}

.plusminus {
  background: #c2edff;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  color: #0093cf;
  outline: none;

}

.plusminus-add {
  background: #c2edff;
  border: none;
  font-size: 16px;
  font-weight: 200;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #0093cf;
  outline: none;
}

.btn-info-save {
  background: #0093cf;
}

.num {
  border: none;
  font-size: 16px;

}

input[type="number"] {
  -webkit-appearance: textfield !important;
  -moz-appearance: textfield !important;
  appearance: textfield !important;
  width: 30px;
  color: #0093cf;
  text-align: center;
}

input[type="button"] {
  font-size: 18px;
  font-weight: 300;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
