<div class="main-content mt-5">
    <div class="container container-broder">
      <div class="row">
        <div class="col-12">
          <h3>ตรวจสอบข้อมูลผู้ให้บริการ</h3>
        </div>
        <div class="col-12 text-right">
          <h6>วันที่/เวลา <span class="span-date"> 01/02/2563 </span></h6>
        </div>
        <div class="col-12">
          <hr>
        </div>
        <div class="col-12">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ลำดับ</th>
                <th scope="col">ชื่อนามสกุล</th>
                <th scope="col">หน่วยงาน</th>
                <th scope="col">เบอร์โทรศัพท์</th>
                <th scope="col">สถานะ</th>
                <th scope="col"> </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>123</td>
                <td>1101</td>
                <td>สมจิตร ช่างซ่อม</td>
                <td>....</td>

                <td><samp style="color: #ffc107">รออนุมัติ</samp></td>
                <td><button type="button" class="btn btn-primary">ดูข้อมูล</button></td>
              </tr>
              <tr>
                  <td>124</td>
                  <td>1102</td>
                  <td>สมจิตร ช่างซ่อม</td>
                  <td>....</td>
                  <td><samp style="color: #28a745">ผ่านเกณฑ์</samp> </td>
                  <td><button type="button" class="btn btn-primary">แก้ไข</button></td>
              </tr>
              <tr>
                  <td>125</td>
                  <td>1103</td>
                  <td>สมจิตร ช่างซ่อม</td>
                  <td>....</td>
                  <td><samp style="color: #dc3545">ไม่ผ่านเกณฑ์</samp></td>
                  <td><button type="button" class="btn btn-primary">แก้ไข</button></td>
              </tr>
            </tbody>
          </table>
        </div>


        <!--container  -->
      </div>
    </div>
