.container-broder{
  box-shadow: 5px 8px 18px #c0c0c0 !important;
  padding: 20px;;
}

h3{
  color: #007fa4;
  padding-left: 20px;
  font-weight: 400;
}
h5{
  padding-left: 40px;
  color: #007fa4;
}
h6{
  font-size: 18px;
  font-weight: 300;
  color: #007fa4;
}
h4{
  padding-left: 40px;
  color: #007fa4;
}
hr{
  border: 0.5px solid #007fa4;
}
.thead-dark th {
  background-color: #def1ff;
  color: #007fa4;
  font-size: 20px;
}
tr {
  color: #007fa4;
}

.span-date{
  color: #007fa4;
  padding: 5px 20px;
  box-shadow: 1px 3px 5px #c0c0c0 !important;
}
