<div class="main-content">
  <div class="container">
    <div class="row mt-5">
      <div class="col-12">
        <h3>ประวัติการทำรายการ</h3>
      </div>
      <div class="col-12">
        <h5>รายละเอียดกรให้บริการ</h5>
        <hr>
      </div>
    </div>
    <div class="col-12 detail-frame">
      <p>วัน : พฤหัส 20 กุมภาพันธ์ 2563</p>
    </div>
    <div class="col-12 detail-frame">
      <p>เวลา : 10:00-15:00 น. รวม 5 ชั่วโมง</p>
    </div>
    <div class="col-12 detail-frame">
      <p>ประเภทที่อยู่อาศัย : บ้านเดียว/ทาวน์โฮม</p>
    </div>
    <div class="col-12 detail-frame">
      <div class="col-12">
        <p>ไมตรี เมตตา</p>
      </div>
      <div class="col-12">
        <p>099-999-9999</p>
      </div>
      <div class="col-12">
        <p>ที่อยู่</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mt-5">
        <h5>รายละเอียดกรให้บริการ</h5>
        <hr>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <div class="col-5 detail-frame ">
        <div class="row">
          <div class="col-6">
            <p>พี่เลี้ยงเด็ก</p>
          </div>
          <div class="col-6 text-right">
            <p>฿500</p>
          </div>
        </div>
      </div>
      <div class="col-5 detail-frame ">
        <div class="row">
          <div class="col-6">
            <p>งบประมาณการจ้าง</p>
          </div>
          <div class="col-6 text-right">
            <p style="color: orange">฿500</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mt-5">
        <h5>ผู้ให้บริการ</h5>
        <hr>
      </div>
    </div>

    <div class="col-12 detail-frame">
      <div class="col-12">
        <p>ไมตรี เมตตา</p>
      </div>
      <div class="col-12">
        <p>099-999-9999</p>
      </div>
      <div class="col-12">
        <p>ที่อยู่</p>
      </div>
    </div>

    <div class="col-12 text-center mt-3">
        <button type="button" class="btn btn-danger mr-3" (click)="clickCancel()" >ยกเลิกรายการ</button>
        <button type="button" class="btn btn-info-save" (click)="clickSave()" [routerLink]="['/management-services']" >บันทึก</button>
      </div>
    <!-- container -->
  </div>
</div>
