h3{
  color: #009ada;
  font-weight: 600;
}
h5{
  color: #00a9ef;
  font-weight: 300;
}
hr{
  border-color: #009ada;
}
.detail-frame{
  border: 0.5px solid #00a9ef;
  padding: 15px 30px ;
  border-radius: 10px;
  margin-top: 20px;
}
p{
  margin-bottom: 0;
}
.btn-info-save {
  background: #0093cf;
  font-size: 18px;
  font-weight: 300;
}
.btn-danger{

  font-size: 18px;
  font-weight: 300;
}
