<div class="main-content mt-5">
  <div class="container container-broder">
    <div class="row">
      <div class="col-12">
        <h2>ประวัติการทำรายการ</h2>
      </div>
      <div class="col-5">
        <h5>ประวัติการทำรายการ</h5>
      </div>
      <div class="col-5">
        <form>
          <div class="input-group no-border">
            <input type="text" value="" class="form-control" placeholder="ค้นหารายการ..." style="font-size: 16px;font-weight: 300 ;">
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="now-ui-icons ui-1_zoom-bold"></i>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-6">
        <h4>ระยะเวลา</h4>
      </div>
      <div class="col-6 text-right">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="background-color: transparent;color: #007fa4; ">
            ทั้งหมด
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>

      </div>
      <div class="col-12">
        <hr>
      </div>
      <div class="col-12">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">วันที่เปิดบิล</th>
              <th scope="col">รายการ</th>
              <th scope="col">บริการ</th>
              <th scope="col">ผู้ให้บริการ</th>
              <th scope="col">งบประมาณ</th>
              <th scope="col">สถานะ</th>
              <th scope="col"> </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>20/02/2563</td>
              <td>1101</td>
              <td>พี่เลี้ยงเด็ก</td>
              <td>สมจิตร ช่างซ่อม</td>
              <td>1,500</td>
              <td><samp style="color: #ffc107">ปฎิบัติงาน</samp></td>
              <td><button type="button" class="btn btn-primary">แก้ไข</button></td>
            </tr>
            <tr>
                <td>21/02/2563</td>
                <td>1102</td>
                <td>พี่เลี้ยงเด็ก</td>
                <td>สมจิตร ช่างซ่อม</td>
                <td>3,500</td>
                <td><samp style="color: #28a745">สำเร็จ</samp> </td>
                <td><button type="button" class="btn btn-primary">แก้ไข</button></td>
            </tr>
            <tr>
                <td>22/02/2563</td>
                <td>1103</td>
                <td>พี่เลี้ยงเด็ก</td>
                <td>สมจิตร ช่างซ่อม</td>
                <td>2,500</td>
                <td><samp style="color: #dc3545">ยกเลิก</samp></td>
                <td><button type="button" class="btn btn-primary">แก้ไข</button></td>
            </tr>
          </tbody>
        </table>
      </div>


      <!--container  -->
    </div>
  </div>
