.container-broder{

  box-shadow: 5px 8px 18px #c0c0c0 !important;
  padding: 20px;;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1; /* Firefox */
}
.ui-1_zoom-bold{
color: #000;
}
h2{
  color: #007fa4;
  padding-left: 20px;
  font-weight: 600;
}
h5{
  padding-left: 40px;
  color: #007fa4;
}
h4{
  padding-left: 40px;
  color: #007fa4;
}
hr{
  border: 0.5px solid #007fa4;
}
.thead-dark th {
  background-color: #def1ff;
  color: #007fa4;
  font-size: 20px;
}
tr {
  color: #007fa4;
}

