<div class="main-content mt-5">
  <div class="container container-broder">
    <div class="row">
      <div class="col-12">
        <h3>ตรวจสอบข้อมูลผู้ใช้งาน</h3>
      </div>
      <div class="col-12 header">
        <h6 [routerLink]="['/user-srevice']">< สมจิตร ช่างซ่อม</h6>
        <div class="imgDiv">
          <img src="assets/img/mike.jpg" alt="" />
        </div>
      </div>
      <!-- <div class="col-12">
        <hr />
      </div> -->
      <div class="col-12">
        <table class="tableUserDetail">
          <thead class="thead-dark">
            <tr>
              <td>
                <div class="form-group col-md-6 leftSide">
                  <label for="inputEmail4">ชื่อ</label>
                  <input
                    mdbInput
                    type="email"
                    class="form-control"
                    id="inputEmail4"
                    value="สมจิต"
                  />
                </div>
              </td>
              <td>
                <div class="form-group col-md-6 rightSide">
                  <label for="inputEmail4">นามสกุล</label>
                  <input
                    mdbInput
                    type="email"
                    class="form-control"
                    id="inputEmail4"
                    value="ช่างซ่อม"
                  />
                </div>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="form-group col-md-6 leftSide">
                  <label for="inputEmail4">หมายเลขบัตรประจำตัวประชาชน</label>
                  <input
                    mdbInput
                    type="email"
                    class="form-control"
                    id="inputEmail4"
                    value="11020202012552"
                  />
                </div>
              </td>
              <td>
                <div class="form-group col-md-6 rightSide">
                  <label for="inputEmail4">เบอร์โทรศัพท์</label>
                  <input
                    mdbInput
                    type="email"
                    class="form-control"
                    id="inputEmail4"
                    value="088-888-8888"
                  />
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-group col-md-6 leftSide">
                  <label for="inputEmail4">เพศ</label>
                  <div class="gender">ชาย</div>
                </div>
              </td>
              <td>
                <div class="form-group col-md-6 rightSide">
                  <label for="inputEmail4">ตำแหน่งในกองทัพอากาศ</label>
                  <input
                    mdbInput
                    type="email"
                    class="form-control"
                    id="inputEmail4"
                    value="...."
                  />
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-group col-md-6 leftSide">
                  <label for="inputEmail4">มีความเกี่ยวข้องกับ</label>
                  <input
                    mdbInput
                    type="email"
                    class="form-control"
                    id="inputEmail4"
                    value="...."
                  />
                </div>
              </td>
              <td>
                <div class="form-group col-md-6 rightSide">
                  <label for="inputEmail4">มีความสัมพันธ์เป็น</label>
                  <input
                    mdbInput
                    type="email"
                    class="form-control"
                    id="inputEmail4"
                    value="...."
                  />
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-group col-md-6 leftSide">
                  <label for="inputEmail4">แนบเอกสารยืนยัน</label>
                  <input
                    mdbInput
                    type="email"
                    class="form-control"
                    id="inputEmail4"
                    value="File1.pdf, File2.pdf"
                  />
                </div>
              </td>
              <td>
                <div
                  class="form-group col-md-6 rightSide"
                  style="display: flex"
                >
                  <div class="imgDiv">
                    <img src="assets/img/Vector.png" alt="" />
                  </div>
                  <div class="imgDiv">
                    <img src="assets/img/Vector.png" alt="" />
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="btnDiv">
        <button type="button" class="btn reject">ไม่อนุมัติ</button>
        <button type="button" class="btn approve">อนุมัติ</button>
      </div>
      <!--container  -->
    </div>
  </div>
</div>
