.cu-font-size{
  font-size: 18px !important;
  font-weight: 200;
  color: #939393 !important;
  background-color: #FFFFFF;
  box-shadow: 1px 3px #c0c0c0 !important;
}
.text-nav{
  margin: 0 30px;
  color: #208faf;
  font-weight: 300;
}
